<!DOCTYPE html>
<html>
  <head>
    <title>AppointmentManagement</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="row">
      <div class="panel panel-default">
        <div class="panel panel-body col-md-offset-2 col-md-8"> 
          <%= yield %>
        </div>  
      </div>
    </div>

  </body>
</html>
